<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>
	
    <div id="content">
        <h1>UzGRYD</h1>
        <p>  This ia a sample application made in Ruby on Rails and styled 
            using custom styling. It allows users to create posts that other people
            can comment on, and display personal information at the same time. 
            Users have the ability to create, read, update or destroy their posts.</p> 

        <p>
            <b><a target="_blank" href="https://github.com/MuminjonGuru/uzgryd">Open-Source</a></b>
             Project by <b><a target="_blank" href="https://muminjon.com/">MuminjonGuru</a></b>
        </p>            
    </div>
</div>